.hero {
 display: flex;
  background: linear-gradient(to bottom, #000, #181b2c);
  align-content: space-between;
  color: #d1d5db;
}

.hero-content {
  max-width: 50%;
  margin-bottom: 40px;
  margin-left: 0px;
}

.hero-content h1 {
  font-size: 3rem; /* Increased font size for more impact */
  font-weight: 700; /* Bolder font weight */
  margin-top: 150px;
  margin-left: 200px;
  font-family: 'Roboto', sans-serif; /* Added a more modern font */
  letter-spacing: 1px; /* Increased letter spacing for readability */
}

.hero-content p {
  font-size: 1.11rem; /* Slightly bigger font size for better readability */
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 200px;
  color: #ffffff;
  font-family: 'Arial', sans-serif; /* Clean font for better contrast */
}

.hero-content .btn.signup {
  background-color: #ff6f47;
  color: #fff;
  padding: 12px 25px; /* Larger padding for buttons */
  border: none;
  margin-bottom: 60px;
  margin-left: 200px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.125rem; /* Larger font size on the button */
  font-weight: 600; /* Make button text bold */
}

.hero-image img {
  max-width: 80%;
  height: auto;
  margin-top: 250px;
 
}
